<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style type="text/css">
    .btn-outline-grey {
      outline-color: gray !important;
      border-color: rgb(75, 75, 75);
      background-color: rgb(75, 75, 75);
      color: white;
    }

    .btn-outline-grey:active,
    .btn-outline-grey:focus {
      background-color: rgb(75, 75, 75);
      color: white;
      outline-color: rgb(75, 75, 75);
    }

    input[type="text"] {
      /*background-color: rgb(75, 75, 75) !important;*/
      border-color: rgb(75, 75, 75);
    }

    input[type="text"]:focus {
      /*background-color: rgb(75, 75, 75) !important;*/
      border-color: rgb(75, 75, 75);
    }

    * {
      border-radius: 0 !important;
    }
  </style>
</head>

<body>
  <div class="container">
    <form autocomplete="off">
      <div class="form-group row">
        <label for="file-name" class="sr-only">File :</label>
        <div class="col-md-8 pr-md-0">
          <input type="text" class="form-control form-control-lg form-control-success" id="file-name" placeholder="Please select file . . ." readonly="readonly">
        </div>
        <div class="col-md-2 px-md-0">
          <input type="button" class="form-control btn btn-outline-grey btn-lg" value="Browse" id="browse-btn">
        </div>
        <div class="col-md-2 px-md-0">
          <input type="button" class="form-control btn btn-outline-grey btn-lg" value="Upload" id="upload">
        </div>
      </div>
      <input type="file" id="file-chooser" name="uploads[]" style="display:none" multiple="multiple">
    </form>
    <div class="progress">
      <div class="progress-bar progress-bar-stripped progress-bar-animated" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="height:5px"></div>
    </div>
  </div>
  <!-- Modal Window -->
  <div class="modal fade" id="info-window">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title mx-auto">
            <b>Message</b>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $("#browse-btn").click(function(e) {
      e.preventDefault();
      $("#file-chooser").click();
      $(".progress-bar").width("0%");
    });

    formData = new FormData();
    $("#file-chooser").change(function() {
      var value = $("#file-chooser").val();
      //Removed Condition
      if (true) {
        $("#file-name").val(value);
        //$(this).get(0) because we get => 0:input#file-chooser>files
        var files = $(this).get(0).files;
        //Conforming atleast one file selected.

        if (files.length > 0) {
          for (var i = 0; i < files.length; i++) {
            var file = files[i];
            formData.append('upload[]', file, file.name);
          }
          // console.log(formData.getAll('upload[]'));
        }
      }
    });

    //Hacking XHR
    var xhr = $.ajaxSettings.xhr();
    xhr.upload.addEventListener('progress', function(e) {
      if (e.lengthComputable) {
        //Calculate percent of upload complete.
        var percentComplete = e.loaded / e.total;
        percentComplete = parseInt(percentComplete * 100);

        //Update Progress bar
        $('.progress-bar').width(percentComplete + '%');

        //Show alert when done
        if (percentComplete === 100) {
          $("#info-window").modal({
            show: true,
            keyboard: false
          });
          $('.modal-body p').text('Uploaded');

          $("#info-window").on('hidden.bs.modal', function() {
            $("#file-name").val('');
            $("#file-chooser").val('');
            $('.progress-bar').width('0%');
          });
        }
      }
    }, false);

    function xhrProvider() {
      return xhr;
    }

    $("#upload").click(function(evt) {
      var value = $("#file-name").val();
      if (value == null || value == undefined || value === '') {
        $("#info-window").modal({
          show: true,
          keyboard: false
        });
        $('.modal-body p').text('Please select file.');
      } else {
        //AJAX Request
        $.ajax({
          url: '/',
          type: 'POST',
          data: formData,
          processData: false, //Setting processData to false tells JQuery not to convert object to string.
          contentType: false, //Setting contentType to false JQuery not to add content-type header
          success: function(data) {
            console.log("Success data :" + data);
          },
          xhr: xhrProvider
        });
      }
      evt.preventDefault();
    });
  </script>
</body>

</html>
